@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the default font family using CSS variables */
:root {
  --font-outfit: "Outfit", sans-serif;
  --font-ovo: "Ovo", serif;
}

/* Apply Outfit as the default font */
body {
  font-family: var(--font-outfit);
}
